@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply bg-background;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  scroll-behavior: smooth;
}

/* - Use this when all the components are ready to use */
/* This is the navlink isActive class */

/* .isActive {
  @apply text-PrimaryTextColour
} */

@theme {
  --color-text: rgb(238, 232, 251);
  /* oklch(93.81% 0.012 276.09) */
  --color-background: rgb(16, 15, 31);
  /* oklch(17.90% 0.019 270.11) */
  --color-primary: rgb(181, 157, 232);
  /* oklch(74.96% 0.050 274.74) */
  --color-secondary: rgb(110, 76, 73);
  /* oklch(41.57% 0.061 30.08) */
  --color-accent: rgb(202, 218, 127);
  /* oklch(72.04% 0.088 104.68) */
  --color-PrimaryTextColour: rgb(68, 238, 68);
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-4 rounded-[6px] backdrop-blur bg-white/5 shadow-lg;
  }
}

@layer utilities {
  /* .flex-center {
    @apply flex items-center justify-center;
  } */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}
.animate-scroll-left:hover {
  animation-play-state: paused;
}
