@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  @apply bg-background;
}

/* - Use this when all the components are ready to use */
/* This is the navlink isActive class */

/* .isActive {
  @apply text-PrimaryTextColour
} */

@theme {
  --color-text: rgb(238, 232, 251);
  /* oklch(93.81% 0.012 276.09) */
  --color-background: rgb(16, 15, 31);
  /* oklch(17.90% 0.019 270.11) */
  --color-primary: rgb(181, 157, 232);
  /* oklch(74.96% 0.050 274.74) */
  --color-secondary: rgb(110, 76, 73);
  /* oklch(41.57% 0.061 30.08) */
  --color-accent: rgb(202, 218, 127);
  /* oklch(72.04% 0.088 104.68) */
  --color-PrimaryTextColour: rgb(68, 238, 68);
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-4 rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white/[0.04];
  }
}

/* make default css classes here for tailwind css using tailwind css*/

@layer utilities {
  /* 
  .flex-center{
    @apply flex items-center justify-center;
  } */
}
