@import 'tailwindcss';

@themes {

  --color-text: oklch(93.81% 0.012 276.09);
  --color-background: oklch(17.90% 0.019 270.11);
  --color-primary: oklch(74.96% 0.050 274.74);
  --color-secondary: oklch(41.57% 0.061 30.08);
  --color-accent: oklch(72.04% 0.088 104.68);

}